h1 {
  color: white;
  text-align: center;
}
body {
  background-color: black;
}

button {
  background-color: black;
  color: white;
}

h2 {
  color: white;
  text-align: center;
}
h3 {
  color: white;
  text-align: center;
}

hr {
  border-color: grey;
}